/* Reset default browser styles */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* CSS for the menu buttons */
.menu {
  background-color: #003333;
  padding: 10px 0;
}

.menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #003333;
  color: #fff;
  animation: fadeIn 1s ease-in-out;
}

.menu a:hover {
  background-color: #d3d3d3;
}

/* Merged CSS code */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #003333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px 20px 0;
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: #003333;
  font-weight: bold;
  background-color: #003333;
  padding: 10px;
  animation: fadeIn 1s ease-in-out; /* Add animation property */
}

.logo img {
  max-width: 300px;
  height: auto;
}

.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

/* Additional CSS for the new questions */
.container label.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.container input[type="checkbox"] {
  margin-right: 5px;
}

.container p {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Define the fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
